---
import BaseHead from '../../components/BaseHead.astro';
import Cosmetic from '../../components/Cosmetic.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE } from '../../consts';
---
<!-- this is for the blog entry list -->

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
		
		<style>
			body {
				overflow-y: auto;
			}
			main {
				width: 960px;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			img {
				image-rendering: pixelated;
			}
			.grid-88x31 {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				width: fit-content;
				height: fit-content;
			}
			.site-button
			{
				position: relative;
				z-index: 1;
				image-rendering: pixelated;
				width: 88px;
				height: 31px;

				transform: scale(1);
				transition: transform .2s ease;
			}

			.site-button:hover
			 {
				transform: scale(2);
				z-index: 2;
			}

		</style>
	</head>
	<body>
		<Cosmetic/>
		<Header />
		<main>
			<section class="panel frosted-glass anim-fadein-up-small delay-200ms anim-ease">
				<h2>&lt; Mine &gt;</h2>
				<hr>
				<p>Here's my own 88x31, i'd prefer if you hotlink it :3 </p>
				<div class="grid-88x31">
					<a href="https://blog.cakeeh.art/" class="site-button">
						<img src="/images/gifs/deer-journal-88x31.gif" loading="lazy"  alt="88x31 button">
					</a>
					<button class="icon-button tooltip" 
					onmouseenter="PlaySound('snd_blip2.wav', {volume: 0.3})" onclick="CopyButton(); PlaySound('snd_success.wav')">
						<span class="tooltiptext">Copy Html</span>
						<span class="material-symbols-sharp">content_copy</span>
					</button>
					
				</div>
			</section>
			<section class="panel frosted-glass anim-fadein-up-small delay-200ms anim-ease">
				<h2>&lt; Friends &gt;</h2>
				<hr>
				<div class="grid-88x31">
					<a href="https://marlee-goat.neocities.org/"  target="_blank" class="site-button">
						<img src="/images/88x31/marmar8831.gif" loading="lazy" style="image-rendering: pixelated;" alt="button to marlee's site">
					</a>
					<a href="https://pumpkindof.neocities.org/"  target="_blank" class="site-button">
						<img src="https://pumpkindof.neocities.org/assets/8831_pumpkys_paradise.png" loading="lazy" style="image-rendering: pixelated;" alt="button to pumpky's paradise">
					</a>
					
				</div>
				
			</section>
			<section class="panel frosted-glass anim-fadein-up-small delay-200ms anim-ease">
				<h2>&lt; Misc &gt;</h2>
				<hr>
				<p>Random buttons i like or take you to neat websites</p>
				<div class="grid-88x31">
					<a href="https://leizy8499.neocities.org/" target="_blank" class="site-button"><img src="https://leizy8499.neocities.org/buttons/LEIZY8499.jpeg" loading="lazy" alt="LEIZY8499's 88x31 button"></a>
					<a href="https://femtanyl03.neocities.org" target="_blank" class="site-button"><img src="https://femtanyl03.neocities.org/blinkiesbuttonsstamps/buttons/femtanyl03button.gif" loading="lazy" alt="femtanyl fansite button"></a>
					<a href="https://dog-game.xyz" target="_blank" class="site-button"><img src="/images/88x31/moondog_banner.gif" loading="lazy" alt="Moondog button"></a>
					<a href="https://virtualobserver.moe/" target="_blank" class="site-button"><img src="https://virtualobserver.moe/images/sitebutton.png" loading="lazy" alt="VirtualObserver button"></a>
					
					
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/nap time.png" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/buttonyumenikki.gif" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/by_cyber-rot_on_neocities.png" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/krisbtn.png" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/wii.gif" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/dontfeedtheai.webp" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					<img src="/images/88x31/mwmotpaws.png" class="site-button" loading="lazy" style="image-rendering: pixelated;" alt="88x31 button">
					
				</div>
			</section>
		</main>
		<script is:inline>
			function CopyButton() {
				let code = '<a href="https://blog.cakeeh.art/" target="_blank">\n<img src="https://blog.cakeeh.art/images/gifs/deer-journal-88x31.gif" loading="lazy" style="image-rendering: pixelated;" alt="Deer\'s Journal button">\n</a>';

				navigator.clipboard.writeText(code);
				console.log("copied to clipboard!");
			}
		</script>
		<Footer/>
	</body>
</html>
