---
import BaseHead from '../../components/BaseHead.astro';
import BlogCards from '../../components/BlogCards.astro';
import Cosmetic from '../../components/Cosmetic.astro';
import Footer from '../../components/Footer.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE } from '../../consts';

---
<!-- this is for the blog entry list -->

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
		
		<style>
			main {
				max-width: 960px;
				height: -webkit-fill-available;
				overflow-y: scroll;
			}
		</style>
	</head>
	<body>
		<Cosmetic/>
		<Header />
		<main>
			<BlogCards/>
		</main>
		<Footer />
	</body>
</html>
