---
import BaseHead from '../../components/BaseHead.astro';
import Cosmetic from '../../components/Cosmetic.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE } from '../../consts';
---
<!-- this is for the blog entry list -->

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} />
		
		<style>
			section {
				width: 100%;
				padding: 1em 0em 1em 0em;
				background: var(--background-light);

				display: flex;
				justify-content: center;
			}

			body {
				overflow-y: auto;
			}
			main {
				width: 960px;
			}

			#c_widget {
				max-width: 1000px;
				pointer-events: all;
			}
		</style>
	</head>
	<body>
		<Cosmetic/>
		<Header />
		<main>
			<p>I'm not entirely sure, but there might be a waiting period before the strict permission policies get lifted for my account. If you see no comments, you can assume the guest book doesnt work just yet.</p>
			<div id="c_widget"/>
			
		</main>
		<!-- <Footer /> -->
		 <script src="/comment-widget/comment-widget.js" is:inline></script>
	</body>
</html>
