---
// everything needed for appearance and backgrounds for the website
---
<style>
	section {
        padding: 20px;
		width: 500px;
		height: fit-content;
	}

    .settings-titlebar {
        display: flex; 
        justify-content: space-between;
    }

    .settings-list {
        display: grid;
        gap: 10px;
    }
    .setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #2b2b2b2b;
        padding: 0px 10px;
    }

    .slider-value {
        width: 50px;
        text-align: right;
    }
</style>


<section id="popup-info" class="frosted-glass-strong anim-fadein-up-small delay-200ms anim-ease">
    <div>
        <div class="settings-titlebar">
            <h2>Info & Credits</h2>
            <span id="settings-close"class="material-symbols-sharp icon-button snd_click_close" onclick="ClosePopup()">close</span>
        </div>
        
        <hr>
        <p>Website created by <a href="https://github.com/DeerUwU" target="_blank" class="link">me</a>. <br>
        No ai was used to make it. 
        <hr class="dashed">

        <h4>Assets</h4>
        <ul>
            <li>Wii cursor icons created by <a href="https://primmr.dev/projects/wii-pointer-cursors/" target="_blank" class="link">Primm</a></li>
            <li>Sounds & Music taken from Yume Nikki & Yume 2kki</li>
        </ul>
        <hr class="dashed">

        <h4>Fonts</h4>
        <ul>
            <li><a href="https://fonts.google.com/specimen/DM+Mono" target="_blank" class="link">Dm Mono</a></li>
            <li><a href="https://www.dafont.com/ari-w9500.font?back=bitmap" target="_blank" class="link">Ari w9500 Display</a></li>
        </ul>
        <hr class="dashed">

        <h4>Libraries</h4>
        <ul>
            <li><a href="https://github.com/VincentGarreau/particles.js/"target="_blank" class="link">particles.js</a> (modified)</li>
            <li><a href="https://github.com/goldfire/howler.js" target="_blank" class="link">howler.js</a></li>
            <li><a href="https://jquery.com" target="_blank" class="link">jquery</a></li>
        </ul>
        <hr class="dashed">

        <h4>Other</h4>
        <ul>
            <li><a href="https://virtualobserver.moe/ayano/comment-widget" target="_blank" class="link">Comment Widget</a> by ayano</li>
            <li>Framework: <a href="https://astro.build" target="_blank" class="link">Astro</a></li>
            <li>Icons: <a href="https://fonts.google.com/icons" target="_blank" class="link">Google Icons</a></li>
        </ul>
    </p>
            
        </div> <!-- end of settings list -->
    </div>
</section>

