/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
@import url('https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap');

@import url('anim.css');
@import url('text.css');

:root {
	--background: hsl(0, 0%, 2%);
	/* --background: #18131a; */
	--background-light: #1a1a1a;
	--background-trans: #2b2b2b2b;

	--primary-light: #eaaaff;
	--primary: #c573e1;
	--primary-dark: #7f4ba9;
	--primary-dark-trans: #7c2fba7b;
	--primary-darkest:#35285a;
	--gradient-primary-darkest: linear-gradient(to right, var(--primary-darkest) , transparent);

	--text-normal: #8d829e;
	--text-sub: #54505b;
	--text-darkest: #48454e41;

	/* 
	BW: Border Width
	B: Border
	BR: Border Radius
	*/

	--B-primary: 5px solid var(--primary);
	--B-primary-darkest: 5px solid var(--primary-darkest);

	--B-primary-thin: 2px solid var(--primary);
	--B-primary-darkest-thin: 2px solid var(--primary-darkest);


	--B-dark: 5px solid var(--text-darkest);

	--BW-thin: 2px;
	--BW-regular: 5px;
	--BW-thick: 10px;


	--black: 15, 18, 25;
	--gray: #78609f;
	--gray-light: #cdb7df;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}


@font-face {
  font-family: 'Ari';
  src: url('/fonts/ari-w9500-display.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


html {
    cursor: url("/cursor/Pointer.cur"), default;
}
html:active {
    cursor: url("/cursor/Grab.cur"), grab;
}

html {
	height: 100%;
  	margin: 0;
	background-color: var(--background);
}

body {
	font-family: var(--font-DM-Mono);
	margin: 0;
	padding: 0;

	/* idk why but these 3 prevent weird gaps at the top */
	width: 100%;
	height: 100vh;
	position: absolute;

	text-align: left;	

	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-normal);
	font-size: 1.125rem;
	line-height: 1.3;

	/* experimental */
	overflow: hidden;
	/* min-height: 100%; */
	/* display: flex;
	flex-direction: column; */
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	margin-top: 50px;
	padding: 2em 1em;
}

h1:active,
h2:active,
h3:active,
h4:active,
h5:active,
h6:active,
p:active,
span:active {
	cursor: url("/cursor/Highlight.cur"), text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary);
	

	font-family: Ari;
	font-weight: normal;
	text-rendering:optimizeLegibility;
	
	-webkit-background-clip: text;
	background-clip: text;
	color: var(--primary);
	
	text-shadow: 4px 4px 0px var(--primary-darkest);
}
h1 {
	font-size: 2.5em;
	line-height: 1.2;
	margin: 0 0 0.4rem 0;
}
h2 {
	font-size: 2em;
	margin: 0 0 0.4rem 0;
}
h3 {
	font-size: 1.7em;
	margin: 0 0 0.3rem 0;
}
h4 {
	font-size: 1.5em;
	margin: 0 0 0.2rem 0;
}
h5 {
	font-size: 1.25em;
	margin: 0 0 0.1rem 0;
}

.blogpost-title {
	font-family: var(--font-Barcode-39);
  	font-weight: 400;
  	font-style: normal;
} 


strong,
b {
	font-weight: 700;
}
a {
	color: var(--primary);
	transition-duration: 0.2;
}

a:hover {
	color: var(--primary-darkest);
	text-decoration: none;
	background-color: var(--primary);
	cursor: url("/cursor/Open.cur"), pointer;
}
a:active {
	cursor: url("/cursor/Pointer.cur"), default;
}

p a,
.link,
.c-site {
    color: var(--primary);
    font-weight: 600;
    text-decoration: solid underline;
    text-decoration-color: var(--primary-darkest);
    text-decoration-thickness: 2px;
	text-underline-offset: 2px;

    transition-duration: 0.2s;
}


p a:hover,
.link:hover,
.c-site:hover {
    color: var(--background);
	text-decoration: solid underline;
    text-decoration-color: var(--background);
	text-decoration-thickness: 2px;
    /* text-decoration: none; */
    background-color: var(--primary);

	padding: 1px 3px;
}



p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 1.125rem;
}
input:hover {
	/* font-size: 16px; */
	cursor: url("/cursor/Open.cur"), pointer;
}

button {
	border: none;
	font: inherit;
	color: inherit;
	text-align: center;
}

button:hover {
	cursor: url("/cursor/Open.cur"), pointer;
}

ul {
	margin: 10px 0px;
	padding-left: 30px;
}

table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
}
img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
}
pre {
	padding: 1.5em;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: var(--BW-regular) solid var(--primary);
	padding: 1px 0 1px 20px;
	margin: 0px;
	font-size: 1.125rem;
	font-style: italic;
	background: var(--gradient-primary-darkest);
}
hr {
	border: none;
	border-top: 2px solid var(--primary-darkest);
}
hr.dashed {
	border: none;
	border-top: 2px dashed var(--primary-darkest);
}


small {
	opacity: 0.5;
}

::selection {
	color: #111111;
	background-color: #bb70f8cf; /* cant use var() for some reason. whatever*/
	text-shadow: #111111 0px 0px 5px;
}



.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}





/* PRESET CLASSES */

/* basically the box that keeps everything else inside */
.panel {
	padding: 20px;
}


.blur-bg {
	backdrop-filter: blur(10px);
}


.frosted-glass {
	background-color: var(--background-trans);
	backdrop-filter: blur(5px);
	/* border: 		2px solid #2b2b2b3b;
	border-top: 	2px solid #5f5f5f6b;
	border-bottom: 	2px solid #0000003b; */
}
.frosted-glass-strong {
	background-color: var(--background-trans);
	backdrop-filter: blur(20px) grayscale(1);
	/* border: 		2px solid #2b2b2b3b;
	border-top: 	2px solid #5f5f5f6b;
	border-bottom: 	2px solid #0000003b; */
}

.scrollable {
	overflow-y: scroll;
}


.icon-button {
	color: var(--text-normal);
	background-color: transparent;
	transition-duration: 0.2s;
    transition-property: color;
}
.icon-button:hover {
	cursor: url("/cursor/Open.cur"), pointer;
	color: var(--primary);
}


/* SCROLLBARS */

/* width */
::-webkit-scrollbar {
	width: 10px;
	padding-right: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--background-light);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: var(--primary-darkest);
	/* why doesnt it work :( */
	transition-duration: 0.3s;
	transition-property: background-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: var(--primary);
	cursor: url("/cursor/Open.cur"), pointer;
}
::-webkit-scrollbar-thumb:active {
	cursor: url("/cursor/Grab.cur"), grab;
}

.scrollable:hover ::-webkit-scrollbar-thumb {
	background: var(--primary);
}

/* SLIDERS */

input[type="range"] {
	-webkit-appearance: none;  /* Override default CSS styles */
  	appearance: none;
	height: 10px;
	background: var(--primary-darkest);
	background-image: linear-gradient(var(--primary-dark), var(--primary-dark));
	background-size: 50% 100%;
    background-repeat: no-repeat;
}

input[type="range"]::-moz-range-progress {
	background-color: #9a905d;
}


input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;  /* Override default CSS styles */
  	appearance: none;
	width: 10px; /* Set a specific slider handle width */
	height: 10px; /* Slider handle height */
	background: var(--primary);
}

input[type="range"]::-webkit-slider-thumb:hover {
	cursor: url("/cursor/Open.cur"), pointer; /* Cursor on hover */
}

input[type="range"]::-webkit-slider-thumb:active {
	cursor: url("/cursor/Grab.cur"), grab;
}


/* CHECKBOX */

.checkbox-slider input[type="checkbox"] {
	display: none;
}
.checkbox-slider input[type="checkbox"] + label {
	display: block;
	position: relative;
	width: 3em;
	height: 1.6em;
	/* margin-bottom: 20px; */
	background: var(--primary-darkest);
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;

	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.checkbox-slider input[type="checkbox"]:hover + label {
	background: var(--primary-dark);
	cursor: url("/cursor/Open.cur"), pointer;
}
.checkbox-slider input[type="checkbox"]:active + label {
	background: var(--primary-dark);
	cursor: url("/cursor/Pointer.cur"), pointer;
}

.checkbox-slider input[type="checkbox"]:checked + label {
	background: var(--primary);
}
.checkbox-slider input[type="checkbox"]:checked:hover + label {
	background: var(--primary-light);
}


.checkbox-slider input[type="checkbox"] + label:before {
	content: "";
	display: block;
	width: 1em;
	height: 1em;
	background: var(--text-normal);
	position: absolute;
	left: 0.3em;
	top: 0.3em;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.checkbox-slider input[type="checkbox"]:checked + label:before {
	background: var(--primary-darkest);
	left: 1.7em;
}


/* TOOLTIPS */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: var(--background-light);
  border: var(--B-primary-thin);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  
  /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* -------------------------------------------------------------------- */

.blogcard-container {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.blogcard {
	width: calc(100% - 1rem);
	background-color: var(--background-trans);
	backdrop-filter: blur(5px);
	transition-duration: 0.2s;
	transition-delay: 0.1s;
	transition-property: background-color;
}
.blogcard:hover {
	background-color: var(--primary-dark-trans);
	transition-duration: 0.1s;
	transition-delay: 0s;
}


.blogcard * { /* every element inside the blog card */
	text-decoration: none;
	transition: 0.2s ease;
}

.blogcard-text {
	padding: 12px 10px 8px 10px;
}

.blogcard-title {
	font-family: var(--font-Barcode-39);
  	font-weight: 400;
  	font-style: normal;

	margin: 0;
	margin-bottom: -6px;
	color: var(--primary);
	line-height: 1;
}
.blogcard-date {
	margin: 0;
	color: var(--gray);
	font-size: 1rem;
}






.blogcard:first-child {
	border-left: 5px solid var(--primary);
}

.blogcard:first-child .blogcard-date {
	color: var(--primary);
}
.blogcard:first-child .blogcard-title {
	color: var(--primary);
}




@media only screen and (max-width: 800px) {
	h1 {
		font-size: 2.0em;
	}
	h2 {
		font-size: 1.6em;
	}
	h3 {
		font-size: 1.3em;
	}
	h4 {
		font-size: 1.2em;
	}
	h5 {
		font-size: 1.1em;
	}
	p {
		font-size: 0.875rem;
	}

	.frosted-glass {
		backdrop-filter: grayscale(1) brightness(0.1);
	}
}