/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--background: #111111;
	/* --background: #18131a; */
	--background-light: #1a1a1a;
	--primary: #c573e1;
	--primary-dark: #9057bf;
	--primary-darkest:#35285a;
	--gradient-primary-darkest: linear-gradient(to right, var(--primary-darkest) , transparent);

	--text-normal: #8d829e;
	--text-sub: #54505b;
	--text-darkest: #48454e41;

	/* 
	BW: Border Width
	B: Border
	BR: Border Radius
	*/

	--B-primary: 5px solid var(--primary);
	--B-primary-darkest: 5px solid var(--primary-darkest);
	--B-dark: 5px solid var(--text-darkest);

	--BW-thin: 2px;
	--BW-regular: 5px;
	--BW-thick: 10px;


	--black: 15, 18, 25;
	--gray: #78609f;
	--gray-light: #cdb7df;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Atkinson';
	src: url('/fonts/atkinson-bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Dm Mono';
	src: url('/fonts/DMMono-Regular.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Dm Mono';
	src: url('/fonts/DMMono-Medium.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Dm Mono', sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--background);
	background-size: 100% 600px;
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text-normal);
	font-size: 18px;
	line-height: 1.2;
}
main {
	width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 2em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--primary);
	line-height: 1.2;
}
h1 {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.7em;
}
h4 {
	font-size: 1.5em;
}
h5 {
	font-size: 1.25em;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--primary);
}
a:hover {
	color: var(--primary);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 1em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
}
pre {
	padding: 1.5em;
}
pre > code {
	all: unset;
}
blockquote {
	border-left: var(--BW-regular) solid var(--primary);
	padding: 1px 0 1px 20px;
	margin: 0px;
	font-size: 20px;
	font-style: italic;
	background: var(--gradient-primary-darkest);
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

small {
	opacity: 0.5;
}

@media (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		padding: 1em;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
