---
import BaseHead from '../components/BaseHead.astro';
import BlogCards from '../components/BlogCards.astro';

import Cosmetic from '../components/Cosmetic.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE } from '../consts';
import '../styles/text.css';


---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE}/>
		<style>
			body {
				height: 100%;
				overflow: hidden;
			}
			main {
				width: 100%;
				height: -webkit-fill-available;
				height: 75vh;
				/* margin: 20px; */
				gap: 20px;
				display: flex;
				justify-self: center;
				justify-content: center;
				flex-direction: row;
			}
			#main-left, #main-right {
				width: 50%;
				max-width: 500px;
				padding: 20px 20px;
			}
			#main-left {
				/* height: -webkit-fill-available; */
				overflow-y: auto;
			}
			#main-right {
				max-height: fit-content;
				display: flex;
				flex-direction: column;
			}

			/* #main-left::after {
				width: 1000px;
				height: 100px;
				border: 5px solid var(--primary);
				content: "after element";
			} */

			.entrylist-title {
				margin-bottom: 20px;
				/* text-decoration: underline; */
			}


			@media only screen and (max-width: 800px) {
				body {
					overflow: auto;
				}
				main {
					width: 100%;
					height: auto;
					flex-direction: column;
					padding: 1em;
				}
				#main-left, #main-right {
					width: auto;
					max-width: 100%;
				}
			}
		</style>
	</head>

	
	<body>
		<Cosmetic />
		<Header />
		<main class="">
			
			<div id="main-left" class="frosted-glass 
			anim-fadein-up-small anim-ease delay-200ms">
				<h2>About Me</h2>
				<p>
					I dont know how you found this place but... welcome.
					<br><br>
					Who am i? Im a lonely loser trying to find a sense of purpose and belonging in life. Im documenting my thoughts and journey on this website. Feel free to look through everything, im an open book. Maybe someone will get something out of this. 
					<br><br>
					(this website is designed desktop first, but ill try my best to keep it mobile friendly)
				</p>
					<h4>Todo:</h4>
				<ul>
					<li>more art</il>
					<li>seamless page transitions</il>
					<li>gimmicks and fun stuff</il>
					<li>toggle for animations</il>
					<br>
				</ul>
				<!-- <div style="height: 100px;"></div> -->
				<div style="display: flex; flex-direction: row; gap: 20px">
					<img src="images/gifs/150px-Mewo_sprite.gif" width="64px" loading="lazy" style="image-rendering: pixelated;">
					<img src="images/gifs/Forest_Bunny_Sprite.gif" width="64px" loading="lazy" style="image-rendering: pixelated;">
				</div>
			</div>
			<div id="main-right" class="frosted-glass scrollable anim-fadein-up-small anim-ease delay-200ms">
				<h2 class="entrylist-title">My Journal</h2>
				<BlogCards/>
			</div">
			

		</main>
		<!-- <script src="/public/scripts/main.ts"></script> -->
		<!-- <Comments /> -->
	</body>
	
</html>
