---


import BaseHead from '../components/BaseHead.astro';
import BlogCards from '../components/BlogCards.astro';

import Header from '../components/Header.astro';
import Particles from '../components/Particles.astro';
import { SITE_TITLE } from '../consts';
import '../styles/text.css';




---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE}/>
		<Particles/>
		<style>
			body {
				height: 100vh;
			}
			main {
				width: 100%;
				height: -webkit-fill-available;
				height: 75vh;
				margin: 20px;
				gap: 20px;
				display: flex;
				justify-self: center;
				justify-content: center;
				flex-direction: row;
			}
			#main-left, #main-right {
				width: 50%;
				max-width: 500px;
				padding: 20px 20px;
			}
			#main-left {
				overflow-y: scroll;
			}
			#main-right {
				max-height: fit-content;
				display: flex;
				flex-direction: column;
			}

			.entrylist-title {
				margin-bottom: 20px;
				/* text-decoration: underline; */
			}
			.entrylist {
				height: -webkit-fill-available;
			}

			

			.thumbnail {
				margin-left: auto;
			}


			@media only screen and (max-width: 800px) {
				main {
					width: 100%;
					height: auto;
					flex-direction: column;
					padding: 1em;
				}
				#main-left, #main-right {
					width: auto;
					max-width: 100%;
				}
			}
		</style>



	</head>
	<body>
		<Particles />
		<Header />
		<main>
			
			<div id="main-left" class="frosted-glass">
				<h2>About Me</h2>
				<p>
					I dont know how you found this place but... welcome.
					<br><br>
					Who am i? Im a lonely loser trying to find a sense of purpose and belonging in life. Im documenting my thoughts and journey on this website. Feel free to look through everything, im an open book. Maybe someone will get something out of this.
					<br><br>
					I really want to fill this blog journal thingy with more personality and *style* in the future. I still have to learn working with Astro and maybe other webdev tools. Im trying out new things. But for now, this will suffice.
				</p>
				<div style="display: flex; flex-direction: row;">
					<!-- <img src="images/art/king rules.png" loading="lazy"> -->
				</div>
			</div>
			<div id="main-right" class="frosted-glass">
				<h2 class="entrylist-title">My Journal</h2>
				<BlogCards/>
			</div">
			

		</main>
		<!-- <Comments /> -->
	</body>
	
</html>
