---
import BaseHead from '../components/BaseHead.astro';
import BlogCards from '../components/BlogCards.astro';

import Cosmetic from '../components/Cosmetic.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE } from '../consts';
import '../styles/text.css';


---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE}/>
		<style>
			body {
				/* height: 100%; */
				overflow: hidden;
			}
			main {
				width: 100%;
				height: -webkit-fill-available;
				height: 75vh;
				/* margin: 20px; */
				gap: 20px;
				display: flex;
				justify-self: center;
				justify-content: center;
				flex-direction: row;
			}
			#main-left, #main-right {
				width: 50%;
				max-width: 500px;
			}


			#main-left,
			#main-right > div {
				padding: 20px 20px;
			}
			#main-right {
				max-height: fit-content;
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			/* #main-left::after {
				width: 1000px;
				height: 100px;
				border: 5px solid var(--primary);
				content: "after element";
			} */

			.entrylist-title {
				margin-bottom: 20px;
				/* text-decoration: underline; */
			}

			.totd-item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				background-color: var(--background-trans);
				height: fit-content;
				padding: 5px 10px;
				gap: 10px;
			}
			.totd-item > p {
				margin: 0px;
			}
			.totd-item :first-child {
				text-wrap: nowrap;
			}
			.totd-item :last-child {
				text-align: right;
			}


			@media only screen and (max-width: 800px) {
				body {
					overflow: auto;
				}
				main {
					width: 100%;
					height: auto;
					flex-direction: column;
					padding: 1em;
				}
				#main-left, #main-right {
					width: auto;
					max-width: 100%;
				}
			}
		</style>
	</head>

	
	<body>
		<Cosmetic />
		<Header />
		<main class="">
			
			<section id="main-left" class="frosted-glass scrollable 
			anim-fadein-up-small anim-ease delay-200ms">
				<h2>About Me</h2>
				<p>
					hi hi hi!!
					<br><br>
					Who am i? im a silly little idiot putting silly little words on my silly little webbed site. <br><br>
					im trying to find a sense of purpose and belonging in life. Im using this website as a place to write down whatever is on my mind that day. Feel free to look through everything, maybe someone will get something out of this. 
					<br><br>
				</p>
					<h4>Todo:</h4>
				<ul>
					<li>more art</il>
					<li>seamless page transitions</il>
					<li>gimmicks and fun stuff</il>
					<li>toggle for animations</il>
					<br>
				</ul>
				<!-- <div style="height: 100px;"></div> -->
				<div style="display: flex; flex-direction: row; gap: 20px">
					<img 
					src="images/gifs/150px-Mewo_sprite.gif" 
					alt="mewo from omori"
					style="image-rendering: pixelated; height: 64px; width: auto;"
					onclick="PlaySound('snd_cat_purr.wav', {rate_min: 1, rate_max: 1.2})">

					<img 
					src="images/gifs/Forest_Bunny_Sprite.gif" 
					alt="bunny enemy from omori"
					style="image-rendering: pixelated; height: 64px; width: auto;" 
					onclick="PlaySound('snd_ut_tem6.wav', {rate_min: 0.8, rate_max: 1.5})">
				</div>
			</section>

			<section id="main-right" class="scrollable">
				<div class="frosted-glass anim-fadein-up-small anim-ease delay-200ms">
					<h3>Thing of the day</h3>
					<hr>
					<div class="totd-item">
						<p>Fruit of the day: </p><p id="totd-fruit">Fruit</p>
					</div>
					<hr class="dashed">
					<div class="totd-item">
						<p>Animal of the day: </p><p id="totd-animal">Animal</p>
					</div>
					<hr class="dashed">
					<div class="totd-item">
						<p>Number of the day: </p><p id="totd-number">Number</p>
					</div>
					<hr class="dashed">
					<div class="totd-item">
						<p>Day of the day: </p><p id="totd-day">Day</p>
					</div>
					<hr class="dashed">
					<div class="totd-item">
						<p>Shape of the day: </p><p id="totd-shape">Shape</p>
					</div>
					<hr class="dashed">
					<div class="totd-item">
						<p>Month of the day: </p><p id="totd-month">Month</p>
					</div>
				</div>

				<div class="frosted-glass anim-fadein-up-small anim-ease delay-200ms">
					<h3 class="entrylist-title">My Journal</h3>
					<BlogCards/>
				</div>
				
			</section">
			

		</main>
		<Footer/>

		<script>

			const totd_fruits = 	['Apple','Banana','Cherry','Clementine','Cranberry','Decaisnea','Dragon Fruit','Durian','Kumquat','Plum','Grapes (green)','Grapes (not green)','Grapefruit','Green Kiwi','Golden Kiwi','Lime','Lemon','Mango','Nectarine','Orange','Passion Fruit','Peach','Pear','Pineapple','Pomegranate','Pomelo','Star Fruit','Strawberry','Tomato','Umbu','Watermelon','Xoconostle Cactus Fruit'];
			const totd_animals = 	['Aardvark','Addax','Alligator','Ant','Antelope','Armadillo','Aquatic Warbler','Axolotl','Badger','Bald Eagle','Bat','Bee','Buffalo','Butterfly','Bnuyy','Camel','Caracal','Cheetah','Chicken','Chinchilla','Chipmunk','Copepod','Cow','Coyote','Crab','Crocodile','Deer','Dik Dik','Dolphin','Duck','Elephant','Ferret','Fish','Flamingo','Fox','Frog','Goat','Giraffe','Ground Centipede','Goose','Hedgehog','Iguana','Jellyfish','Jaguar','Large Mouth Bass','Lion','Lizard','Manatee','Monkey','Octopus','Owl','Penguin','Pig','Puffin','Pelican','Rhinoceros','Seal','Shark','Shrew','Snake','Squid','Tortoise','Turtle','Whale','Wolf','Worm'];
			const totd_day = 		['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'];
			const totd_shape = 		['Line','Triangle','Rectangle','Square','Pentagon','Hexagon','Heptagon','Octagon','Nonagon','Decagon','Dodecagon','Oval','Star','Prism','Cylinder','Icosahedron','Torus','Trapezoid','Rhombus','Octahedron','Dodecahedron','Tetrahedron','Cube','Sphere','Rhombicuboctahedron'];
			const totd_month = 		['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
			var totd_number = getRandomInt(999);

			function randFromSeed(x:any, iterations:any){
				iterations = iterations || 100;
				for(var i = 0; i < iterations; i++)
					x = (x ^ (x << 1) ^ (x >> 1)) % 10000;
				return x;
			};

			var unix_day = Math.floor(Date.now()/86400000);
			var random_fruit = randFromSeed(unix_day, 1);
			var random_animal = randFromSeed(unix_day, 2);
			var random_number = randFromSeed(unix_day, 3);
			var random_day = randFromSeed(unix_day, 4);
			var random_shape = randFromSeed(unix_day, 5);
			var random_month = randFromSeed(unix_day, 6);

			$("#totd-fruit").text(totd_fruits[random_fruit % totd_fruits.length]);
			$("#totd-animal").text(totd_animals[random_animal % totd_animals.length]);
			$("#totd-number").text(random_number % 99);
			$("#totd-day").text(totd_day[random_day % totd_day.length]);
			$("#totd-shape").text(totd_shape[random_shape % totd_shape.length]);
			$("#totd-month").text(totd_month[random_month % totd_month.length]);
			
		</script>
	</body>
	
</html>
