---
import BaseHead from '../components/BaseHead.astro';
import Cosmetic from '../components/Cosmetic.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE } from '../consts';
import '../styles/text.css';


---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE}/>
		<style>
			main {
				/* width: 100%; */
				height: -webkit-fill-available;
				height: 80vh;
				/* margin: 20px; */
				gap: 20px;
				display: flex;
				justify-self: center;
				justify-content: center;
				flex-direction: row;
			}
			#main{
				width: fit-content;
				/* max-width: 500px; */
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;

				max-height: fit-content;
			}

			#main-left:hover::-webkit-scrollbar-thumb,
			#main-right:hover::-webkit-scrollbar-thumb {
				background-color: var(--primary);
			}

			#main > section {
				padding: 12px 20px 20px 20px;
			}

			@media only screen and (max-width: 800px) {
				body {
					overflow: auto;
				}
				main {
					width: -webkit-fill-available;
					height: auto;
					flex-direction: column;
					padding: 1em;
				}
				#main-left, #main-right {
					width: auto;
					max-width: 100%;
				}
			}
		</style>
	</head>

	
	<body>
		<Cosmetic />
		<Header />
		<main>
			
			<section id="main" class="frosted-glass anim-fadein-up-small anim-ease delay-200ms">
				<section>
					<h2>&lt; 404: Page not found &gt;</h2>
					<hr>
					<p>
						how did you get here?
					</p>
					<div style="display: flex; flex-direction: row; gap: 20px">
						<img 
						src="images/gifs/150px-Mewo_sprite.gif" 
						alt="mewo from omori"
						style="image-rendering: pixelated; height: 64px; width: auto;"
						onclick="PlaySound('snd_cat_purr.wav', {rate_min: 1, rate_max: 1.2})">

						<img 
						src="images/gifs/Forest_Bunny_Sprite.gif" 
						alt="bunny enemy from omori"
						style="image-rendering: pixelated; height: 64px; width: auto;" 
						onclick="PlaySound('snd_ut_tem6.wav', {rate_min: 0.8, rate_max: 1.5})">
					</div>
				</section>

			</section>

		</main>
		<Footer/>


		<script>
			particlesJS.load("particles-js", "/particles/404.json", function(){
			console.log("PARTICLES: 404.json loaded")
			});
		</script>
	</body>
	
</html>
