---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

// backup
// const posts = (await getCollection('blog')).sort(
// 	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
// ).reverse();

const posts = (await getCollection('blog')).reverse();
---

<section class="entrylist">
	<ul class="blogcard-container">
		{
			posts.map((post) => (
				<li class="blogcard frosted-glass snd_mod_hover snd_click_blip1">
					<a href={`/blog/${post.id}/`}>
						<div class="blogcard-text">
							<h3 class="blogcard-title">{post.data.title}</h3>
							<p class="blogcard-date">
								<FormattedDate date={post.data.pubDate} />
							</p>
						</div>
						
						{post.data.heroImage && (
							<Image class="thumbnail" height={80} src={post.data.heroImage} alt="" />
						)}
						
					</a>
				</li>
			))
		}
	</ul>
</section>
