---
---

<section>
	<div id="c_widget"></div>
	<script src="../comment-widget/comment-widget.js"></script>
</section>

<style>
	section {
		width: 100%;
		padding: 1em 0em 1em 0em;
		background: var(--background-light);
		text-align: center;

		display: flex;
		justify-content: center;
	}

	#c_widget {
		max-width: 1000px;
	}
</style>
