---
import PopupInfo from "./Popup/PopupInfo.astro";
import PopupSettings from "./Popup/PopupSettings.astro";

// everything needed for appearance and backgrounds for the website
---
<style>
    :root {
        --pattern-size: 300px;
        --pattern-size2: 280px;

        --offset: 20px;
    }

    #particles-js,
    #pattern1,
    #pattern2,
    #pattern3 {
        position: fixed;
        width: 100%;
        height: 100%;
        
    }

    #particles-js {
        z-index: -990;
        pointer-events: initial;
    }

    #pattern1 {
        z-index: -998;
    }
    #pattern2 {
        z-index: -997;
    }
	#pattern3 {
		z-index: -999;
		background: #35285A;
        background: linear-gradient(90deg, rgba(53, 40, 90, 0.2) 0%, rgba(255, 255, 255, 0) 7%, rgba(255, 255, 255, 0) 93%, rgba(53, 40, 90, 0.2) 100%);
        /* animation: pattern3 10s ease-in-out 0s infinite forwards; */
	}

    @keyframes pattern3 {
		from {  opacity: 0.5;   }
        50% {   opacity: 1;     }
        to {    opacity: 0.5;   }
	}

    #pattern1 {
        --c1: rgba(30, 24, 37, 0.2);
        --_g: #0000 90deg, var(--c1) 0;
        background: conic-gradient(from 90deg at 3px 3px, var(--_g)),transparent;
        background-size: calc(var(--pattern-size) / 5)
            calc(var(--pattern-size) / 5);
        background-blend-mode: add;
        animation: movePattern1 80s linear 0s infinite forwards;
    }

    #pattern2 {
        --c1: rgba(32, 27, 34, 0.075);
        --_g: #0000 90deg, var(--c1) 0;
        background: conic-gradient(from 90deg at 2px 2px, var(--_g)),
             transparent;
        background-size: calc(var(--pattern-size) / 5)
            calc(var(--pattern-size) / 5);

        background-position: 20px 20px;

        background-blend-mode: add;
        animation: movePattern2 160s linear 0s infinite forwards;
    }


	@keyframes movePattern1 {
		from { background-position: 0px 0px }
		to { background-position: var(--pattern-size) var(--pattern-size); }
	}
	@keyframes movePattern2 {
		from { background-position: calc(var(--pattern-size) + var(--offset)) var(--pattern-size); }
		to { background-position: var(--offset) 0px }
	}

    #info-enabling-music {
        display: none;
        position: fixed;
        bottom: 0px;
        width: 100%;

        text-align: center;

        opacity: 0;
        z-index: 100;

        text-shadow: 0px 0px 10px var(--primary);

        animation: infoEnableMusic;
        animation-duration: 6s;
        animation-iteration-count: 1;
    }

    @keyframes infoEnableMusic {
        0% {    
            color: var(--primary);
            opacity: 1; 
        }
        10% {   color: var(--primary-light); }
        20% {   color: var(--primary); }
        30% {   color: var(--primary-light); }
        40% {   color: var(--primary); }
        50% {   color: var(--primary-light); }
        60% {   color: var(--primary); }
        70% {   color: var(--primary-light); }
        80% {   
            color: var(--primary); 
            opacity: 1; 
        }
        90% {   color: var(--primary-light); }
        100% {  
            color: var(--primary);
            opacity: 0; 
        }
    }


    #popup-container {
		position: fixed;
		width: 100%;
		height: 100%;
        
		display: flex;
        justify-content: center;
        align-items: center;


		backdrop-filter: grayscale(0.5) blur(5px);
		z-index: 200;
		background-color: #000000c7;
	}

    @media only screen and (max-width: 800px) {
        #popup-container {
            backdrop-filter: grayscale(1) brightness(0.5);
        }
    }
</style>



<section>
    <script is:inline src="/scripts/particles.js"></script>
    
    <div id="particles-js"></div>
    <div id="pattern1"></div>
    <div id="pattern2"></div>
    <div id="pattern3"></div>

    <div id="popup-container" class="anim-fadein dur-500ms" style="display:none;">
        <PopupSettings/>
        <PopupInfo/>
    </div>

    <p id="info-enabling-music">Click anywhere to enable music!</p>
</section>

