---
const today = new Date();
---

<footer>
	<p class="footer-text">{today.getFullYear()} Offline</p>
</footer>
<style>
	footer {
		width: 100%;
		padding: 1em 0em 1em 0em;
		background: var(--background-light);
		text-align: center;
		/* position: fixed; */
		bottom: 0px;
	}

	.footer-text {
		color: var(--text-sub);
	}

	.social-links {
		display: flex;
		display: none;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
