---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---
<style>
	header {
		margin: 0;
		/* background: var(--background); */
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		pointer-events: none;
		width: 100%;
		position:fixed;
		top: 0;
		z-index: 100;
	}
	#site-title {
		margin: 0;
		font-size: 1em;
		font-family: Ari;
		text-decoration: none;

		color: var(--primary);
		transition-duration: 0.2s;
	}

	#site-title:hover {
		color: var(--primary-light);
	}

	.internal-links {
		display: flex;
		/* justify-content: center; */
		align-items: center;
		padding: 0px 5px;
		pointer-events: initial;
	}


	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 10px 10px 5px 10px;
	}
	nav a {
		padding: 0.5em;
		margin: 0;
		color: var(--black);
		text-decoration: none;
		transition-duration: 0.2s;
		pointer-events:initial;
	}
	nav a:hover {
		color: var(--primary);
		background-color: transparent;
	}
	nav a.active {
		text-decoration: underline;
		text-decoration-color: var(--primary-dark);
		text-decoration-thickness: 4px;
		text-underline-offset: 5px;
	}
	nav a.active:hover {
		text-decoration-color: var(--primary);
	}

	.icon-button {
        margin: 0.3em;
        width: 32px;
        height: 32px;
        /* margin-left: 30px;
        margin-bottom: 30px; */

        border: none;
		background-color: unset;
        color: var(--text-normal);

        display: flex;
        justify-content: center;
        align-items: center;

        transition-duration: 0.2s;
        transition-property: color;
    }
    .icon-button:hover {
        /* cursor: pointer; */
        color: var(--primary);
    }


	@media only screen and (max-width: 800px) {
		#site-title {
			display: none;
		}
		.internal-links {
			width: 100%;
			justify-content: center;
		}
	}
</style>

<header>
	<nav>
		<a href="/" id="site-title">{SITE_TITLE}</a>
		<div class="internal-links frosted-glass">
			<HeaderLink href="/" class="snd_mod_hover">Home</HeaderLink>
			<HeaderLink href="/blog" class="snd_mod_hover">Journal</HeaderLink>
			<HeaderLink href="/guestbook" class="snd_mod_hover">Guestbook</HeaderLink>
			<HeaderLink href="/88x31" class="snd_mod_hover">88x31</HeaderLink>
			
			
			<button class="icon-button snd_mod_hover snd_click_open" onclick="OpenPopup('info');">
				<span class="material-symbols-sharp">info</span>
			</button>
			<button class="icon-button snd_mod_hover snd_click_open" onclick="OpenPopup('settings');">
				<span class="material-symbols-sharp">settings</span>
			</button>
		</div>
	</nav>
</header>

