---

---

<style>
	section {
		padding: 20px;
		height: 1000px;
	}


	.poll-wrapper {
		background-color:var(--background-trans); 
		display: flex;
		margin-top: 5px;
		padding: 10px;
		flex-direction: column;
		align-content: center;
		align-items: flex-start;
	}
	.radio-wrapper {

	}

	#previous {
		display: flex;
        gap:5px;
		width: fit-content;
        align-items: center!important;
        justify-content: center!important;
		padding: 0px 5px;
    }

</style>

<section class="frosted-glass anim-fadein-up-small anim-ease delay-200ms">
	<h3>&lt; Polls &gt;</h3>
	<hr />
	<p>
		No current polls.
	</p>
	<hr class="dashed"/>
	<a id="previous" class="icon-button-bg snd_mod_hover snd_click_blip1" href="/previous_polls">
		<span class="material-symbols-sharp icon-button" onclick="ClosePopup()">keyboard_return</span>
		<p>Previous Polls</p>
	</a>
</section>
