---
interface Props {
	date: String;
	content: String;
}

const { date, content } = Astro.props;
---
<style>
	.site-update {
		background-color: var(--background-trans);
		padding: 10px;
	}

	p {
		font-size: 1rem;
		line-height: 1.4rem;
	}
</style>


<div class="site-update">
	<h5>{date}</h5>
	<hr class="dotted"/>
	<p>{content}</p>
</div>
