---
import SiteUpdate from '../components/SiteUpdate.astro';
---
<style>
	section {
		padding: 20px;
	}
	.site-updates {
		display: flex;
		flex-direction: column;
		gap: 5px;
		max-height: 500px;
		overflow-y: auto;
	}
</style>



<section class="frosted-glass anim-fadein-up-small anim-ease delay-200ms">
	<h3>&lt; Site Updates &gt;</h3>
	<hr>
	<div class="site-updates">
		<SiteUpdate date="> 07/28/25" content="i added the site update section today so any prior updates are based on my own commit history lol. anyways, i added seamless page transitions today! need to figure out a proper solution for the guestbook though because it prevents data from loading"/>
		<SiteUpdate date="> 07/22/25" content="added twemoji support (replacing default emojis with the ones on twitter/discord). also added the 88x31 page"/>
		<SiteUpdate date="> 07/21/25" content="added the guestbook!"/>
		<SiteUpdate date="> 07/20/25" content="Added background music, sound effects and a settings page. also added the custom wii cursor"/>
		<SiteUpdate date="> 07/18/25" content="improved visuals like the background"/>
		<SiteUpdate date="> 07/16/25" content="added particles"/>
		<SiteUpdate date="> 07/10/25" content="created the website!"/>
	</div>
</section>