---
import SiteUpdate from '../components/SiteUpdate.astro';
---
<style>
	section {
		padding: 20px;
	}
	.site-updates {
		display: flex;
		flex-direction: column;
		gap: 5px;
		max-height: 500px;
		overflow-y: auto;
	}
</style>



<section class="frosted-glass anim-fadein-up-small anim-ease delay-200ms">
	<h3>&lt; Site Updates &gt;</h3>
	<hr>
	<div class="site-updates">
		<SiteUpdate date="> 29/12/25" content="finally fixed journal entry date sorting. ive also decided to unhide the post titles on the post's page. you could already read the titles in the tab title anyways."/>
		<SiteUpdate date="> 22/12/25" content="TotD animals now link to wikipedia pages, for those interested. TotD numbers now go up to 999"/>
		<SiteUpdate date="> 28/09/25" content="disabled seamless transitions again, for now. it was causing more problems than it was worth it. hoping to find a better solution at some point. i also switched from neocities to github pages."/>
		<SiteUpdate date="> 26/09/25" content="added a poll section to the main page"/>
		<SiteUpdate date="> 28/07/25" content="i added the site update section today so any prior updates are based on my own commit history lol. anyways, i added seamless page transitions today! need to figure out a proper solution for the guestbook though because it prevents data from loading. also added a &quot;random&quot; button. no next or previous because i dont fucking know how :("/>
		<SiteUpdate date="> 22/07/25" content="added twemoji support (replacing default emojis with the ones on twitter/discord). also added the 88x31 page"/>
		<SiteUpdate date="> 21/07/25" content="added the guestbook!"/>
		<SiteUpdate date="> 20/07/25" content="Added background music, sound effects and a settings page. also added the custom wii cursor"/>
		<SiteUpdate date="> 18/07/25" content="improved visuals like the background"/>
		<SiteUpdate date="> 16/07/25" content="added particles"/>
		<SiteUpdate date="> 10/07/25" content="created the website!"/>
	</div>
</section>